* {
  border: none;
  border-radius: 4px;
  font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
  font-size: 10px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.9);
  color: #ffffff;
}

/* Workspaces */
#workspaces button {
  color: #ffffff;
  box-shadow: inset 0 -3px transparent;
  padding: 0 6px;
  margin: 4px 2px;
}


/* Modules */
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#window {
  padding: 0 10px;
  margin: 6px 3px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio {
  background-color: #000000;
  color: #ffffff;
}

#network.disconnected {
  background-color: #f53c3c;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#tray {
  background-color: #2980b9;
}

